@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Book List";
}

@model BookViewModel

<h1>The Hilton Collection</h1>

@foreach (Book b in Model.Books)
 {
      <partial name="BookSummary" model="b"/>  //Set up partial view
 }

<!--Tag helper to manage styles-->
<div page-me="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>